body{
    background: linear-gradient(to right, #6fd46f, #27ab9a);
}

.login-box{
    max-width: 700px;
    float: none;
    margin: 150px auto;
}
.login-left{
    background: #fefefe66;
    padding: 30px;
}
.login-right{
    background: #33333366;
    color: #fefefe;
    padding: 30px;
}

.form-control{
    background-color: transparent !important;
}